

<style TYPE="text/css">
p.hidden{
display: none;

}
</style>

<div class="container" id="body">
<div class="hero-unit">

      <h1>Password Generator</h1>
      <br>


<textarea class="form-control" id="mytextarea" rows="3"></textarea>
<input class = "btn btn-primary" id="clickMe2" type="button" value="Hide Pass1" onclick="hidepass();" />

<input class = "btn btn-primary" id="clickMe" type="button" value="Generate Password" onclick="displaypass();" />

<%= button_to "Refresh", root_path, :method => :get, class: 'btn btn-primary' %>

<br>
<br>

<p id= "hide1">Random 8 digit number: <%=randomnums()%></p>

<br>

<p>Random 8 letter string: <%=randomletters()%></p>

<br>

<p>Random 8 letter/number string: <%=randomletternum()%></p>

<br>

<p>Test easier random: <%=randomtest()%></p>
</div>
    </div><!-- /.container -->


    




<script type="text/javascript">

var counter = 1;







  function hidepass(){
  

    document.getElementById("mytextarea").value = "You clicked the button and hid the first password";
     counter += 1;

     document.getElementById("hide1").hidden = true;

}

function displaypass(){

document.getElementById("mytextarea").value = document.getElementById("hide1").innerHTML;

}
</script>



























    <!-- Bootstrap core JavaScript



    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
