

<style TYPE="text/css">
p.hidden{
display: none;

}

.padthis{
padding-top: 20px;

}



</style>

<div class="container" id="body">
<div class="hero-unit">

      <h1><b>OaklandSecure Password Generator</b></h1>
      <br>

<br>
<br>

<div class="padthis" align= "center">


<!--<a href="/testinput.js.erb" data-method="GET" data-remote="true" class="btn btn-primary">Server Button</a>
-->
<div align="center">
<%= form_tag(:action =>'stringsub') do %>
  <%= label_tag(:q, "Evaluate Your Password:") %>
  <%= text_field_tag :mystring,nil, :maxlength =>100 %>
  <br>
    <%= label_tag(:q, "Enter Length to Generate:") %>
  <%= text_field_tag :lengthtomake,10, :maxlength => 2  %>
  <br>
   <%= label_tag(:q, "Characters Not to Include:") %>
  <%= text_field_tag :forbiddenbox,nil, :maxlength => 100  %>
  <%= submit_tag("Send") %>
<% end %>

<br>
<%= button_to "Refresh", root_path, :method => :get, class: 'btn btn-primary' %>
<br>
</div>
<br>
<hr>
<div align= "center">
<p><h2>Try Our Algorithm Created Versions For A Higher Score!</h2></p>
<h8>(SomethingMemorablewitha$ymbolAnd#2)</h8>
<br>
<br>

<p>Random 8 Character String: <b><%=randomletters()%></b></p>

<br>

<p>OaklandSecure Word Blocks: <b><%=randomtest()%></b></p>

<br>
<p>OaklandSecure Random: <b><%=randomsecure()%></b></p>

<br>
</div>
</div>
    </div><!-- /.container -->


    




<script type="text/javascript">

var counter = 1;







  function hidepass(){
  

    document.getElementById("mytextarea").value = "You clicked the button and hid the first password";
     counter += 1;

     document.getElementById("hide1").hidden = true;

}

function displaypass(){

document.getElementById("mytextarea").value = document.getElementById("hide1").innerHTML;

}
</script>



























