

<style type="text/css">
.padthis{
padding-top: 50px;

}

</style>



<div class="padthis" align= "center">


<!--HTML page view -->
<p><%= @formstring%> </p> 

<h3><p>Password Score: <b><%=@myinputscore%></b></p></h3>
<br>

<p><b>Entropy:</b> <%=@testentropy%></p>
<p><b><%=@numberscore%></b></p>
<p><b><%=@lengthscore%></b></p>
<p><b><%=@specialscore%></b></p>
<p><b><%=@upperscore%></b></p>

<hr>
<%= form_tag(:action =>'stringsub') do %>
  <%= label_tag(:q, "Evaluate Your Password:") %>
  <%= text_field_tag :mystring,nil, :maxlength =>100 %>
  <br>
    <%= label_tag(:q, "Enter Length to Generate:") %>
  <%= text_field_tag :lengthtomake,10, :maxlength => 2  %>
  <br>
   <%= label_tag(:q, "Characters not to include:") %>
  <%= text_field_tag :forbiddenbox,nil, :maxlength => 100  %>
  <%= submit_tag("Send") %>
<% end %>

<br>
<hr>
<p><h2>Try Our Algorithm Created Versions For A Higher Score!</h2><p>

<p>Mikes Algorithm Generated: <b><%=@mikesdisplay%></b></p>

<p>Random Length <%=@inputlength%>:<b> <%=@lengthletterpass%></b></p>
<br>

<p>OaklandSecure Length <%=@inputlength%>: <b><%=@lengthsecurepass%></p></b>

<br>
<p>OaklandSecure Random: <b><%=randomsecure()%></b></p>

<br>
</div>
