<style type="text/css">
.padthis{
padding-top: 50px;

}



div{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	background-color: blue;
}
</style>







<br>
<br>

<div class="padthis" align= "center">

<p><%= @formstring%> </p> 

<h3><p>Password Score: <b><%=@myinputscore%></b></p></h3>
<br>


<p><b><%=@numberscore%></b></p>
<p><b><%=@lengthscore%></b></p>
<p><b><%=@specialscore%></b></p>
<p><b><%=@upperscore%></b></p>

<%= button_to "Refresh", root_path, :method => :get, class: 'btn btn-primary' %>

<br>
<hr>
<p><h2>Try Our Algorithm Created Versions For A Higher Score!</h2><p>

<p>Mikes Algorithm Generated: <b><%=@mikesdisplay%></b></p>

<p>Random Length <%=@inputlength%>:<b> <%=@lengthletterpass%></b></p>
<br>

<p>OaklandSecure Length <%=@inputlength%>: <b><%=@lengthsecurepass%></p></b>

<br>
<p>OaklandSecure Random: <b><%=randomsecure()%></b></p>

<br>
</div>
