
<p><%= @formstring%></p>
<br>

<p id= "hide1">Random 8 digit number: <%=randomnums()%></p>

<br>

<p>Random 8 letter string: <%=randomletters()%></p>

<br>

<p>Random 8 letter/number string: <%=randomletternum()%></p>

<br>

<p>Test easier random: <%=randomtest()%></p>

<br>

