
<%= stylesheet_link_tag "form_style.css"%>
<style type="text/css">


h4{
	font-size:200%;
	font-style:bold;
}

</style>



<div class="padthis" align= "center">

<h3>MyPass Generator</h3>
<div class="basic-grey">

<!--HTML page view -->
<p><%= @formstring%> </p> 

<h4><p>Password Score: <b><%=@myinputscore%></b></p></h4>
<br>

<p><b>Entropy:</b> <%=@testentropy%></p>
<p><b><%=@numberscore%></b></p>
<p><b><%=@lengthscore%></b></p>
<p><b><%=@specialscore%></b></p>
<p><b><%=@upperscore%></b></p>

<hr>
<%= form_tag(:action =>'stringsub') do %>
 <label>
        Enter a Phrase or Sentence: 
        <input id="txtPhrase" type="text" name="mystring" placeholder="Your preferred phrase or sentence" />
    </label>
    
  
    
        
         

   
	
	
         
        
	
	<br>
	<label>
        Number of Characters to Generate: <select id="ddlNumofDigits" name="lengthtomake" >
               <option value="8">8</option>
        <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
    <option value="25">25</option>
    <option value="26">26</option>
    <option value="27">27</option>
    <option value="28">28</option>
    <option value="29">29</option>
    <option value="30">30</option>
		
        </select>
    </label> 

    	<label>
         
       <input id="btnGenerate" class="button" type="submit" value="Generate" />
    </label>

<% end %>

<br>
<hr>
<p><h2>Try Our Algorithm Created Versions For A Higher Score!</h2><p>

<span>Algorithm Generated:</span> 
<p><b><%=@mikesdisplay%></b></p>

<span>Random Characters Length <%=@inputlength%>:</span> <p><b><%=@lengthletterpass%></b></p>


<span>OaklandSecure Length <%=@inputlength%>:</span> 
<p><b><%=@lengthsecurepass%></b></p>

        <span>Oakland Word Blocks:</span>
        <p><b><%=randomsecure()%></b></p>

<br>
</div>
</div>