<style type="text/css">
.padthis{
padding-top: 50px;

}
</style>







<br>
<br>

<div class="padthis" align= "center">

<p><%= @formstring%> Input Score: <b><%=@myinputscore%></b></p>
<br>
<p><b><%=@numberscore%></b></p>
<p><b><%=@lengthscore%></b></p>
<p><b><%=@specialscore%></b></p>
<p><b><%=@upperscore%></b></p>

<br>
<hr>
<p><h2>Try Our Algorithm Created Versions For A Higher Score!</h2><p>

<p id= "hide1">Random 8 digit number: <b><%=randomnums()%></b></p>

<br>

<p>Random 8 letter string: <b><%=randomletters()%></b></p>

<br>

<p>Random 8 letter/number string:<b> <%=randomletternum()%></b></p>

<br>

<p>Test Easier Random: <b><%=randomtest()%></b></p>

<br>
<p>Test Secure Random: <b><%=randomsecure()%></b></p>

<br>
</div>
