
<%= stylesheet_link_tag "form_style.css"%>
<style type="text/css">


h4{
	font-size:200%;
	font-style:bold;
}

.basic-grey select {
    background: #FFF url(<%= asset_path 'down-arrow.png'%>) no-repeat right;
    background: #FFF url(<%= asset_path 'down-arrow.png'%>) no-repeat right;
}

a:link {
    color: #523510;
}

/* visited link */
a:visited {
    color: #523510;
}

/* mouse over link */
a:hover {
    color: #523510;
}

#goodscore{
    
      color:#2E824D; 
      text-shadow: -1px 0 black, 0 .5px black, .5px 0 black, 0 -1px black;
      font-size:120%; 
    
}

#okscore{
    
      color:#B4AF3F;
      text-shadow: -1px 0 black, 0 .5px black, .5px 0 black, 0 -1px black;
      font-size:120%;
    
}

#badscore{

      color:#B23F42;  
      text-shadow: -1px 0 black, 0 .5px black, .5px 0 black, 0 -1px black;
      font-size:120%;
    
}

</style>



<div class="padthis" align= "center">

<h3><%=link_to 'MyPass Generator', "/"  %></h3>
<div class="basic-grey">

<!--HTML page view -->


<p><b>What You Entered:</b> <%= @formstring%></p> 

<h4><p>Password Score:</p> <b><div id= "score1"><%=@myinputscore%></div></b></h4>
<br>

<p><b>Entropy:</b> <%=@testentropy%></p>
<p><b><%=@numberscore%></b></p>
<p><b><%=@lengthscore%></b></p>
<p><b><%=@specialscore%></b></p>
<p><b><%=@upperscore%></b></p>
<br>
<hr>

<b>Algorithm Generated Improvement:</b> <p><%=@mikesdisplay%></p> 

<h4><p>Algorithm Password Score:</p> <b><div id= "score2"><%=@improvedscore%></div></b></h4>
<br>
<div id="myscores">   
    <h5><b>Scoring:</b></h5>  
    
    <div id="goodscore">
    <p>9+ Good</p>
    </div>

    <div id="okscore">
    <p>5-8 Average</p>
    </div>
    <div id="badscore">
    <p> &lt;5 Weak</p>
    </div>
   </div>


<hr>
<%= form_tag(:action =>'stringsub') do %>
 <label>
        Enter a Phrase or Sentence: 
        <input id="txtPhrase" type="text" name="mystring" maxlength="200" placeholder="Your preferred phrase or sentence" />
    </label>
    
	
	
         
        
	
	<br>
	<label>
        Length of Random Passwords: <select id="ddlNumofDigits" name="lengthtomake" >
               <option value="8">8</option>
        <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
    <option value="25">25</option>
    <option value="26">26</option>
    <option value="27">27</option>
    <option value="28">28</option>
    <option value="29">29</option>
    <option value="30">30</option>
		
        </select>
    </label> 

    	<label>
         
       <input id="btnGenerate" class="button" type="submit" value="Generate" />
    </label>

<% end %>

<br>
<hr>
<p><h2>Try Our Algorithm Created Versions For A Higher Score!</h2><p>


<span>Random Characters Length <%=@inputlength%>:</span> <p><b><%=@lengthletterpass%></b></p>


<span>OaklandSecure Length <%=@inputlength%>:</span> 
<p><b><%=@lengthsecurepass%></b></p>

        <span>Oakland Word Blocks:</span>
        <p><b><%=randomsecure()%></b></p>

<br>
</div>
</div>

<script type="text/javascript">
window.onload = function colors(){


var score1 = document.getElementById("score1").innerHTML;
var score2 = document.getElementById("score2").innerHTML;

var scoredisplay1 = document.getElementById("score1");
var scoredisplay2 = document.getElementById("score2");


if (score1 < 5) {
scoredisplay1.style.color = '#B23F42';
}
if (score1 >=5 && score1 <= 8){
scoredisplay1.style.color = '#B4AF3F';
} 
if (score1 > 8) {
scoredisplay1.style.color = '#2E824D';

}


if (score2 < 5){
scoredisplay2.style.color = '#B23F42';
}
if (score2 >=5 && score1 <= 8){
scoredisplay2.style.color = '#B4AF3F';
} 
if (score2 > 8){
    scoredisplay2.style.color = '#2E824D';

}




};

</script>
