<!DOCTYPE html>
<html>
<head>
  <title>Password Generator</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <%= render 'layouts/header'%>
</head>






<script type="text/javascript">



  function testfunction(){
  


    if (document.createTextNode){
      var mytext=document.createTextNode("You Pressed the button!!")
      document.getElementById("body").appendChild(mytext)


}
}

  


}



</script>








<body>
	

  		<%= yield%>






</body>
</html>
